{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    /*Стили кнопки*/
         .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            border-radius: 50px;
            background-color: #007bff;
            color: white;
            transition: background-color 0.3s, transform 0.3s;
        }

        .btn:hover {
            background-color: #0056b3;
            transform: scale(1.1);
        }

        .btn:focus {
            outline: none;
        }

        .btn-info {
            background-color: #17a2b8;
        }

        .btn-info:hover {
            background-color: #138496;
        }

    .modal-backdrop {
    display: none !important;
}

</style>
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Категории:</h1>
                <ul class="list-unstyled templatemo-accordion">
                    {% for category in categories %}
                            <a style = "color:green" class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'goods:categories_index' category.slug %}"> {{ category.name }}</a>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    {% for product in goods %}
                     <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{product.image.url}}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <!-- лайки-->
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <!-- лайки-->

                                </div>
                            </div>
                            <div style="text-align:center" class="card-body">
                                <a href="{% url "goods:product" product.slug %}" class="h3 text-decoration-none">{{ product.name }}</a>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li style="padding-top: 10px">
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p style="padding-top: 10px" class="text-center mb-0">{{ product.price }} сом</p>
                                <p style="padding-top: 10px; color:green" class="text-center mb-0">{{ product.get_status_display }} </p>
                            </div>
                             <a href="{% url "goods:product" product.slug %}" class="btn btn-info btn-lg">Узнать подробно</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- paginator -->
                <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if goods.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ goods.previous_page_number }}" aria-label="Previous">
                                Назад
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Назад</span>
                        </li>
                    {% endif %}

                    {% for num in goods.paginator.page_range %}
                        {% if goods.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% elif num > goods.number|add:"-3" and num < goods.number|add:"3" %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if goods.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ goods.next_page_number }}" aria-label="Next">
                                Вперед
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Вперед</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- Конец пагинатора -->


                <!-- paginator -->
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 style="color: green" class="h1">Наши бренды</h1>
                    <p>
                       Мы гордимся сотрудничеством с ведущими брендами, которые заслужили доверие миллионов покупателей по всему миру.
                        Наша коллекция объединяет высокое качество, инновационные технологии и стильный дизайн, чтобы вы могли выбирать лучшее.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_01.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_02.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_03.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_04.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_01.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_02.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_03.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_04.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_01.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_02.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_03.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_04.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->




    <!-- Start Script -->
    <script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/templatemo.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- End Script -->
{% endblock %}